body {
  font-family: 'Segoe UI', sans-serif;
}

/* Animación 1 */
.fade-in {
  animation: fadeIn 1.5s ease-in;
}

/* Animación 2 */
.slide-up {
  animation: slideUp 1s ease-in-out;
}

/* Animación 3 */
.card-hover {
  transition: transform 0.3s;
}
.card-hover:hover {
  transform: scale(1.05);
}

/* Animación 4 */
.noticia:hover {
  background-color: #f8f9fa;
  transition: background-color 0.5s;
}

/* Animación 5 */
.nav-link:hover {
  color: #ffc107 !important;
  transition: color 0.3s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(40px); }
  to { transform: translateY(0); }
}

#contacto a:hover {
  color: #0d6efd;
  transform: scale(1.2);
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

.logo-gamewiki {
  max-width: 250px;
  height: auto;
}

